@font-face {
  font-family: grooved;
  src: url(/font/Grooved.ttf)
}

@font-face {
  font-family: metalvengeance;
  src: url(/font/MetalVengeance.ttf)
}

@font-face {
  font-family: sleepgrunge;
  src: url(/font/ZilapSleepGrunge.ttf)
}
@font-face {
  font-family: amplify;
  src: url(/font/Amplify.ttf)
}