@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@font-face {
  font-family: 'RocknRoll One', sans-serif;
  color: #262626;
}

@font-face {
  font-family: amplify;
  src: url(/font/Amplify.ttf)
}